.inputBorder{
    
width: 417px;

height: 50px;
background: #E3EDF7;
box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.5), inset 3px 3px 6px rgba(12, 0, 58, 0.1);
border-radius: 10px;
}


.inputProperty{
font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: rgba(61, 68, 101, 0.7);
padding: 14px 20px 14px 20px !important;
}


.inputProperty:after{
    border-bottom: none !important;
   }
   .inputProperty:before{
       border-bottom: none !important;
   }

/* .firstName{
    margin-right: 18px !important ;
   
} */

@media screen and (max-width: 1240px) {
    .firstName{
        width: 300px !important;
        
    }

}
@media screen and (max-width: 1040px) {
    .firstName{
        width: 200px !important;
        margin-left: 20px !important;

        
    }

}
