* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI Regular";
}
@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Segoe\ UI.woff") format("woff");
}
.header_section {
  width: 100%;
  background-color: #fff;
  height: auto;
  padding: 20px;
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
  z-index: -1;
}
.header_logo {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}
.logo {
  font-weight: 600;
  line-height: 39px;
  font-size: 30px;
  color: #354e5c;
  cursor: pointer;
}
.header_content {
  width: 100%;
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.boy_icon {
  margin-left: 10px;
}
.profile_option {
  position: absolute;
  top: 100%;
  left: 10;
  z-index: 1000;
  float: right;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #757575;
  text-align: center;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 solid rgba(15, 15, 15, 0.15);
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgb(15 15 15 / 18%);
}
