* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* background: #e3edf7; */
}

.aside_section {
  width: 330px;
  height: 100%;
  min-height: 100vh;
  position: relative;
  background: #e3edf7;
  padding: 48px 20px 20px 20px !important;
  z-index: 10055;
  /* transition: margin-left 0.3s linear; */
  display: flex;
  flex-direction: column;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.7),
    5px 5px 10px rgba(12, 0, 58, 0.1);
}
.app_logo {
  width: 156px;
  padding: 0px 0px 0px 20px;
  height: 48px;
}
.sider_bar_content_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}
.side_bar_content_text {
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  line-height: 21px;
  color: #354e5c;
}
.side_bar_content_box {
  padding: 0px 0px 0px 20px;
  display: flex;
  align-items: center;
  gap: 11px;
}
.select_arrow {
  cursor: pointer;
}
.side_bar_select_div {
  display: flex;
  gap: 11px;
  align-items: center;
}
.side_bar_content_box_select {
  padding: 0px 0px 0px 20px;
  display: flex;
  align-items: center;
  gap: 93px;
}
.desc {
  padding-left: 8%;
}
.side_toggle {
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 54px 0px 45px 0px;
}
.los_tactics {
  display: flex;
  justify-content: center;
  align-items: center;
}
.side_bar_card {
  width: 260px;
  height: auto;
  padding: 13px 0px 13px 20px;
  border-radius: 10px;
  background-color: #e3edf7;
  box-shadow: -5px -5px 10px 0px rgba(12, 0, 58, 10%),
    5px 5px 10px 0px rgba(255, 255, 255, 40%);
  margin: 57px 0px;
}

.side_bar_card_select {
  gap: 98px;
  align-items: center;
  display: flex;
}
.s_card_select_inner {
  display: flex;
  align-items: center;
}
.card_inner_select_text {
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  color: #009fff;
  margin-left: 14px;
}
.arrow_up {
  cursor: pointer;
}
.arrow_down_change {
  cursor: pointer;
  -ms-transform: rotate(180deg); /* IE 9 */
  transform: rotate(180deg);
}
.box_headings {
  padding: 43px 0px 0px 1px;
  display: flex;
  gap: 11px;
  transition: ease-in 0.3s;
  flex-direction: column;
}
.side_card_select_content {
  width: 191px;
  height: 37px;
  border-radius: 6px;
  display: flex;
  padding-left: 14px;
  align-items: center;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  color: #354e5c;
  cursor: pointer;
  /* background: rgba(0, 159, 255, 10%); */
}
.side_card_select_content_bg {
  width: 191px;
  height: 37px;
  border-radius: 6px;
  display: flex;
  padding-left: 14px;
  align-items: center;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  color: #354e5c;
  cursor: pointer;
  background: rgba(0, 159, 255, 10%);
}

.open_button {
  position: absolute;
  margin-top: 120px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  width: 60px;
}
